
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #193412;
    /*background-image: url("img/blackjacktable.jpg");*/
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

hr{
    color: #b59c46;
    margin: 20px -8px 25px -8px;
}

h1 {
    color: goldenrod;
}

.message-el {
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    border: none;
    border-radius: 2px;
    height: 25px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

img{
    height: 40px;
    background: transparent;
}
