
body {
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

.container{
    background-color: #1F2937;
    height: 80vh;
    width: 70%;
    /*text-align: center;*/
    margin-top: 5%;
}

span{
    color: #4ADF86;
}

.top-half, .passwords-container{
    padding-left: 70px;
}

h1{
    padding-top: 4rem;
    font-size: 50px;
}

p{
    color: #D5D4D8;
    font-size: 27px;
}

.generate-passwords{
    background-color: #10B981;
    border: none;
    border-radius: 3px;
    color: white;
    margin-bottom: 20px;
    width: 12rem;
    height: 3rem;
    font-size: 17px;
    cursor: pointer;
}

hr{
    color: #2F3E53;
    width: 90%;
}

.first-password, .second-password{
    width: 40%;
    height: 50px;
    margin: 22px;
    background-color: #273549;
    color: #10B981;
    border-radius: 3px;
    text-align: center;
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
