body {
    margin: 0;
    font-family: 'Noto Sans Mandaic', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
}

h3{
    color: #EEEEEE;
    font-size: 50px;
}

.home-score, .guest-score{
    width: 190px;
    height: 150px;
    background-color: black;
    border-radius: 5px;
    color: #F94F6D ;
    text-align: center;
}


button{
    background-color: #1B244A;
    height: 35px;
    width: 35px;
    color: #9AABD8;
    border-radius: 5px;
    border-color: #9AABD8;
}